<h1 class="text-center pt-4 text-white">Articles</h1>

<%# displaying all of the articles by rendering page articles and sent to it the @articles parameter %>
<%= render 'article', obj: @articles %>

<%# button for creation a new article %>
<%# this button has a static position relatively to the screen when scrolling the page %>
<%= link_to '+', new_article_path, class: "btn btn-secondary btn-circle btn-xl" %>