<%# page for creating new articles %>
<h1 class="text-center pt-4 text-white">Create a new article</h1>
<%# display errors if they are %>
<%= render 'shared/errors', obj: @article %>
<%# render form for a new article %>
<%= render 'form' %>