<%# Page created with Bootstrap 4 %>

<%# home-bg contain image in the stylesheet (see custom.css.scss) %>
<div class="page-holder bg-cover" id="home-bg">
  <div class="container" id="home-container">
    <header class="text-center text-black">
      <h1 class="display-4 font-weight-bold pt-4">Make your thoughts alive!</h1>
      <h2 class="pb-5">with Just Blog</h1>
      <button type="button" class="btn btn-dark btn-lg">TRY IT</button>
    </header>
  </div>
</div>