<%# this page consists of articles of certain category in short form %>
<%# articles displayed in form of cards %>

<h1 class="text-center pt-4 text-white">Categories</h1>

<%# main container that include all of the cards %>
<div class="container">
  <%# iterate over articles and show their info %>
  <% @categories.each do |category| %>
    <div class="row justify-content-md-center">
      <div class="col-4 mt-4">
        <%# start of the card element %>
        <div class="card text-center shadow rounded" id="window">
          <%# card body with category name and number of articles in this category %>
          <div class="card-body text-white-50 mt-2">
            <h5 class="card-title"><%= link_to category.name, category_path(category), class: "text-white" %></h5>
            <%# display number of articles. method pluralize automatically adds ending to the word "article" %>
            <%= pluralize(category.articles.count, "article") %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<%# render page links in the view %>
<div class="apple_pagination py-4">
  <%= will_paginate @categories, :container => false %>
</div>

<%# button for creation a new category. visible only for admin %>
<%# so, check if the current user is admin %>
<% if logged_in? && current_user.admin? %>
  <%# this button has a static position relatively to the screen when scrolling the page %>
  <%= link_to '+', new_category_path, class: "btn btn-secondary btn-circle btn-xl" %>
<% end %>