<%# page for creating categories %>
<h1 class="text-center pt-4 text-white">Create a new category</h1>
<%# render errors if they are %>
<%= render 'shared/errors', obj: @category %>
<%= render 'form'%>