<footer id="sticky-footer" class="flex-shrink-0 py-2 bg-dark text-white mt-auto">
  <div class="container text-center">
    <small>Copyright &copy; <%= link_to "Andrey Timakhovich", "https://www.linkedin.com/in/andrey-timakhovich-5a2429169/", class: "text-white" %></small>
  </div>
</footer>