<%# showing messages. the color of the message is green %>
<%# the message shows when the articles created or updated successfually %>

<%# when the flash messages array is not empty %>
<% unless flash.empty? %>
  <div class="container-fluid pt-4">
    <div class="row justify-content-md-center">
        <%# show each message from the flash array %>
        <% flash.each do |name, msg| %>
          <%# if the message type is notice then display green color message %>
          <% if name == "notice" %>
            <div class="alert alert-dismissible fade show col-8 text-success" id="success-alert" role="alert">
              <%= msg %>
              <%# close message button %>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>  
            </div>
          <% else %>
            <%# if the message type is alert (otherwise) then display red color message %>
            <div class="alert alert-dismissible fade show col-8 text-danger" id="error-alert" role="alert">
              <%= msg %>
              <%# close message button %>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>  
            </div>
          <% end %>
        <% end %>
    </div>
  </div>
<% end %>